In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('C:/Users/LALITH/OneDrive/Desktop/data.txt/data.txt',)

In [6]:
df['dt'] = pd.to_datetime(df['date'] + ' ' + df['time'])

KeyError: 'date'

In [8]:
df.head()

  2004-03-31 03:38:15.757551 2 1 122.153 -3.91901 11.04 2.03397
0  2004-02-28 00:59:16.02785 3 1 19.9884 37.0933 ...
1  2004-02-28 01:03:16.33393 11 1 19.3024 38.4629...
2  2004-02-28 01:06:16.013453 17 1 19.1652 38.803...
3  2004-02-28 01:06:46.778088 18 1 19.175 38.8379...
4  2004-02-28 01:08:45.992524 22 1 19.1456 38.940...

In [7]:
df = df.set_index(df['dt'])

KeyError: 'dt'

In [100]:
df.drop(columns=['date', 'time'])

,epoch,moteid,temperature,humidity,light,voltage,dt
dt,,,,,,,
2004-03-31 03:38:15.757551,2,1.0,122.1530,-3.91901,11.04,2.03397,2004-03-31 03:38:15.757551
2004-02-28 00:59:16.027850,3,1.0,19.9884,37.09330,45.08,2.69964,2004-02-28 00:59:16.027850
2004-02-28 01:03:16.333930,11,1.0,19.3024,38.46290,45.08,2.68742,2004-02-28 01:03:16.333930
2004-02-28 01:06:16.013453,17,1.0,19.1652,38.80390,45.08,2.68742,2004-02-28 01:06:16.013453
2004-02-28 01:06:46.778088,18,1.0,19.1750,38.83790,45.08,2.69964,2004-02-28 01:06:46.778088
2004-02-28 01:08:45.992524,22,1.0,19.1456,38.94010,45.08,2.68742,2004-02-28 01:08:45.992524
2004-02-28 01:09:22.323858,23,1.0,19.1652,38.87200,45.08,2.68742,2004-02-28 01:09:22.323858
2004-02-28 01:09:46.109598,24,1.0,19.1652,38.80390,45.08,2.68742,2004-02-28 01:09:46.109598
2004-02-28 01:10:16.678900,25,1.0,19.1456,38.83790,45.08,2.69964,2004-02-28 01:10:16.678900
2004-02-28 01:10:46.250524,26,1.0,19.1456,38.87200,45.08,2.68742,2004-02-28 01:10:46.250524
2004-02-28 01:11:46.941288,28,1.0,19.1456,38.94010,45.08,2.69964,2004-02-28 01:11:46.941288
2004-02-28 01:12:46.251377,30,1.0,19.1358,38.90610,45.08,2.68742,2004-02-28 01:12:46.251377
2004-02-28 01:14:16.631270,33,1.0,19.1162,38.80390,45.08,2.69964,2004-02-28 01:14:16.631270
2004-02-28 01:14:46.569352,34,1.0,19.1162,38.87200,45.08,2.69964,2004-02-28 01:14:46.569352
2004-02-28 01:15:16.649556,35,1.0,19.1064,39.00820,45.08,2.69964,2004-02-28 01:15:16.649556
2004-02-28 01:16:16.343708,37,1.0,19.1064,38.87200,43.24,2.69964,2004-02-28 01:16:16.343708
2004-02-28 01:16:46.508622,38,1.0,19.0966,38.80390,43.24,2.69964,2004-02-28 01:16:46.508622
2004-02-28 01:17:46.427446,40,1.0,19.0966,38.73570,43.24,2.69964,2004-02-28 01:17:46.427446
2004-02-28 01:18:16.468248,41,1.0,19.0868,38.80390,43.24,2.69964,2004-02-28 01:18:16.468248
2004-02-28 01:20:16.107740,45,1.0,19.0672,38.90610,43.24,2.68742,2004-02-28 01:20:16.107740
2004-02-28 01:20:46.033312,46,1.0,19.0672,38.87200,43.24,2.69964,2004-02-28 01:20:46.033312
2004-02-28 01:21:16.648189,47,1.0,19.0672,38.90610,43.24,2.69964,2004-02-28 01:21:16.648189
2004-02-28 01:22:16.026390,49,1.0,19.0868,39.00820,43.24,2.69964,2004-02-28 01:22:16.026390
2004-02-28 01:23:16.899912,51,1.0,19.0182,38.73570,43.24,2.68742,2004-02-28 01:23:16.899912
2004-02-28 01:23:46.545863,52,1.0,19.0182,38.73570,43.24,2.69964,2004-02-28 01:23:46.545863
2004-02-28 01:24:16.176842,53,1.0,19.0084,38.80390,43.24,2.69964,2004-02-28 01:24:16.176842
2004-02-28 01:26:16.656972,57,1.0,19.0084,38.94010,43.24,2.68742,2004-02-28 01:26:16.656972
2004-02-28 01:26:46.463293,58,1.0,19.0084,38.94010,43.24,2.69964,2004-02-28 01:26:46.463293
2004-02-28 01:28:46.483577,62,1.0,18.9986,38.97420,43.24,2.68742,2004-02-28 01:28:46.483577
2004-02-28 01:29:46.102532,64,1.0,19.0084,38.97420,43.24,2.69964,2004-02-28 01:29:46.102532
...,...,...,...,...,...,...,...
2004-04-01 23:06:18.936991,61220,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:06:18.936991
2004-04-01 23:17:53.334420,61241,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:17:53.334420
2004-04-01 23:20:53.260680,61242,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:20:53.260680
2004-04-01 23:23:53.046671,61243,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:23:53.046671
2004-04-01 23:35:53.484033,61246,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:35:53.484033
2004-04-01 23:38:51.026354,61247,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:38:51.026354
2004-04-01 23:41:51.102528,61248,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:41:51.102528
2004-04-01 23:44:51.351393,61249,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:44:51.351393
2004-04-01 23:47:53.088203,61250,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:47:53.088203
2004-04-01 23:56:55.955802,61252,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:56:55.955802
2004-04-01 23:59:52.062248,61253,NaN,NaN,NaN,NaN,NaN,2004-04-01 23:59:52.062248
2004-04-02 00:02:53.403263,61254,NaN,NaN,NaN,NaN,NaN,2004-04-02 00:02:53.403263
2004-04-02 00:05:53.442814,61255,NaN,NaN,NaN,NaN,NaN,2004-04-02 00:05:53.442814
2004-04-02 00:11:53.478397,61257,NaN,NaN,NaN,NaN,NaN,2004-04-02 00:11:53.478397
2004-04-02 00:20:53.634899,61259,NaN,NaN,NaN,NaN,NaN,2004-04-02 00:20:53.634899
2004-04-02 00:29:53.263446,61261,NaN,NaN,NaN,NaN,NaN,2004-04-02 00:29:53.263446
2004-04-02 00:38:53.781796,61263,NaN,NaN,NaN,NaN,NaN,2004-04-02 00:38:53.781796
2004-04-02 00:50:52.464265,61266,NaN,NaN,NaN,NaN,NaN,2004-04-02 00:50:52.464265
2004-04-02 00:53:52.418969,61267,NaN,NaN,NaN,NaN,NaN,2004-04-02 00:53:52.418969
2004-04-02 00:56:53.359735,61268,NaN,NaN,NaN,NaN,NaN,2004-04-02 00:56:53.359735
2004-04-02 00:59:53.886525,61269,NaN,NaN,NaN,NaN,NaN,2004-04-02 00:59:53.886525
2004-04-02 01:02:52.438930,61270,NaN,NaN,NaN,NaN,NaN,2004-04-02 01:02:52.438930
2004-04-02 01:05:53.557260,61271,NaN,NaN,NaN,NaN,NaN,2004-04-02 01:05:53.557260
2004-04-02 01:08:54.053265,61272,NaN,NaN,NaN,NaN,NaN,2004-04-02 01:08:54.053265
2004-04-02 01:11:53.607384,61273,NaN,NaN,NaN,NaN,NaN,2004-04-02 01:11:53.607384
2004-04-02 01:14:54.164318,61274,NaN,NaN,NaN,NaN,NaN,2004-04-02 01:14:54.164318
2004-04-02 01:17:53.670524,61275,NaN,NaN,NaN,NaN,NaN,2004-04-02 01:17:53.670524
2004-04-02 01:20:52.807972,61276,NaN,NaN,NaN,NaN,NaN,2004-04-02 01:20:52.807972
2004-04-02 01:26:53.950342,61278,NaN,NaN,NaN,NaN,NaN,2004-04-02 01:26:53.950342
2004-04-02 01:35:53.897412,61280,NaN,NaN,NaN,NaN,NaN,2004-04-02 01:35:53.897412

In [84]:
df.head()

,epoch,moteid,temperature,humidity,light,voltage,dt
dt,,,,,,,
2004-03-31 03:38:15.757551,2,1.0,122.1530,-3.91901,11.04,2.03397,2004-03-31 03:38:15.757551
2004-02-28 00:59:16.027850,3,1.0,19.9884,37.09330,45.08,2.69964,2004-02-28 00:59:16.027850
2004-02-28 01:03:16.333930,11,1.0,19.3024,38.46290,45.08,2.68742,2004-02-28 01:03:16.333930
2004-02-28 01:06:16.013453,17,1.0,19.1652,38.80390,45.08,2.68742,2004-02-28 01:06:16.013453
2004-02-28 01:06:46.778088,18,1.0,19.1750,38.83790,45.08,2.69964,2004-02-28 01:06:46.778088

In [101]:
df = df.drop(columns=['date', 'time'])

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2313682 entries, 2004-03-31 03:38:15.757551 to 2004-04-02 01:35:53.897412
Data columns (total 7 columns):
epoch          int64
moteid         float64
temperature    float64
humidity       float64
light          float64
voltage        float64
dt             datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 141.2 MB

In [105]:
df.isnull().sum()

epoch          0
moteid         0
temperature    0
humidity       0
light          0
voltage        0
dt             0
dtype: int64

In [106]:
df['moteid'] = df['moteid'].astype(int)

In [103]:
droping_list_all=[]
for j in range(0,6):
    if not df.iloc[:, j].notnull().all():
        droping_list_all.append(j)        
        #print(df.iloc[:,j].unique())
droping_list_all

[1, 2, 3, 4, 5]

In [104]:
for j in range(0,6):        
        df.iloc[:,j]=df.iloc[:,j].fillna(df.iloc[:,j].mean())

In [107]:
df=df.drop(columns=['light'])

In [108]:
corr = df.corr()
print(corr)

                epoch    moteid  temperature  humidity   voltage
epoch        1.000000  0.006521     0.340845 -0.221392 -0.670254
moteid       0.006521  1.000000    -0.014191  0.025079  0.000049
temperature  0.340845 -0.014191     1.000000 -0.708718 -0.757235
humidity    -0.221392  0.025079    -0.708718  1.000000  0.512156
voltage     -0.670254  0.000049    -0.757235  0.512156  1.000000

In [109]:
df.describe()

              epoch        moteid   temperature      humidity       voltage
count  2.313682e+06  2.313682e+06  2.313682e+06  2.313682e+06  2.313682e+06
mean   3.303993e+04  2.854400e+01  3.920700e+01  3.390814e+01  2.492552e+00
std    1.836852e+04  5.061833e+01  3.741194e+01  1.731815e+01  1.795539e-01
min    0.000000e+00  1.000000e+00 -3.840000e+01 -8.983130e+03  9.100830e-03
25%    1.757200e+04  1.700000e+01  2.040980e+01  3.187760e+01  2.385220e+00
50%    3.332700e+04  2.900000e+01  2.243840e+01  3.928030e+01  2.527320e+00
75%    4.778900e+04  4.100000e+01  2.703460e+01  4.358550e+01  2.627960e+00
max    6.553500e+04  6.540700e+04  3.855680e+02  1.375120e+02  1.856000e+01

In [153]:
import matplotlib.pyplot as plt